# Backend
backend/.venv/**
backend/__pycache__/**
backend/ml/__pycache__/**
backend/.env

# Frontend
frontend/node_modules/**

# Global
.env


# Worker
worker/.venv/**
worker/__pycache__/**

# Mock Server
mock-server/.venv/**
mock-server/__pycache__/**
mock-server/.env

ml/__pycache__/**

# Data

data/postgres/**

/mock-server
data/postgres/**

